/* CSS files add styling rules to your content */

body {
  margin: 0cm;
}

.cover {
  height:400px;
  background-image:url{https://cdn.glitch.com/135e6a91-1913-4d53-8d17-3f212250c758%2Frsz_1javier-quesada-qyfwgvnjqsa-unsplash.jpg?v=1624233167920};
}
